{% include 'toolbar-cart-handler' %}

<script>
Shopify.AjaxifyCart = (function($) {
  var _config = {
    addedToCartBtnLabel: 'Thank you!',
    addingToCartBtnLabel: 'Adding...',
    soldOutBtnLabel: 'Sold Out',
    howLongTillBtnReturnsToNormal: 1000, // in milliseconds.
    howLongTillConfirmationHides: 2000, // in milliseconds.
    shopifyAjaxAddURL: '/cart/add.js',
    shopifyAjaxCartURL: '/cart.js'
  };

  var _showFeedback = function(success, html, addToCartForm) {
    $('.ajaxified-cart-feedback').remove();
    var feedback = '<a href="/cart" class="ajaxified-cart-feedback ' + success + '">' + html + '</a>';
    
    addToCartForm.after(feedback);    
    $('.ajaxified-cart-feedback').css({"bottom": "-150px", "opacity": 0});
    $('.ajaxified-cart-feedback').animate({bottom: 0, opacity: 1}, 200, "swing");

    window.setTimeout(function(){
      $('.ajaxified-cart-feedback').animate({bottom: -150, opacity: 0}, 200, "swing");
    }, _config.howLongTillConfirmationHides);
  };


  var _init = function() {   
    $(document).ready(function() { 
      $('form[action="/cart/add"]').submit(function(e) {
        e.preventDefault();
        var addToCartForm = $(this);  
        // Disable add to cart button.
        var addToCartBtn = addToCartForm.find('input[type="submit"]');
        addToCartBtn.attr('data-label', addToCartBtn.val());
        addToCartBtn.val(_config.addingToCartBtnLabel).addClass('disabled').attr('disabled', 'disabled');
        // Add to cart.
        $.ajax({
          url: _config.shopifyAjaxAddURL,
          dataType: 'json',
          type: 'post',
          data: addToCartForm.serialize(),
          success: function(itemData) {
            // Re-enable add to cart button.
            addToCartBtn.addClass('inverted').val(_config.addedToCartBtnLabel);
            _showFeedback('success','<i class="fa fa-check"></i> Added to cart!',addToCartForm);

            // Show confirmation link
            window.setTimeout(function(){
              addToCartBtn.removeAttr('disabled').removeClass('disabled').removeClass('inverted').val(addToCartBtn.attr('data-label'));
            }, _config.howLongTillBtnReturnsToNormal);
            
            // Update toolbar cart
            $.getJSON(_config.shopifyAjaxCartURL, function(cart) {
                updateCartToolbars(cart.total_price, cart.item_count);
            });        
          }, 
          error: function(XMLHttpRequest) {
            var response = eval('(' + XMLHttpRequest.responseText + ')');
            response = response.description;
            if (response.slice(0,4) === 'All ') {
              _showFeedback('error', response.replace('All 1 ', 'All '), addToCartForm);
              addToCartBtn.removeAttr('disabled').val(_config.soldOutBtnLabel).attr('disabled','disabled');
            }
            else {
              _showFeedback('error', '<i class="fa fa-warning"></i> ' + response, addToCartForm);
              addToCartBtn.removeAttr('disabled').removeClass('disabled').removeClass('inverted').val(addToCartBtn.attr('data-label'));
            }
          }
        });   
        return false;    
      });
    });
  };
  return {
    init: function(params) {
        // Configuration
        params = params || {};
        // Merging with defaults.
        $.extend(_config, params);
        // Action
        $(function() {
          _init();
        });
    },    
    getConfig: function() {
      return _config;
    }
  }  
})(jQuery);

Shopify.AjaxifyCart.init();

</script>


<style>
.ajaxified-cart-feedback {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0;
  color: white;
  z-index: 99999999;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0 !important;
}

.ajaxified-cart-feedback.success { background: {{settings.ajax_success_bg}}; color: black;}
  .ajaxified-cart-feedback.error { background: {{settings.ajax_fail_bg}}; color: white; } 

</style>