	<div class="toolbar-wrapper" id="mobile-toolbar">
		<div class="toolbar clearfix">
			<ul class="unstyled" style="margin: 0">
				<li class="menu-icon" id="menu-button" >
					<i class="fa fa-bars"></i>
				</li>
				
				<li class="menu-icon" id="search-button">
					<i class="fa fa-search"></i>
				</li>

				<li class="menu-icon logo-test">
					<a href="/">
						<h2 style="line-height: 50px">Loula and Deer</h2>
					</a>
				</li>
				
				<li class="menu-icon fr" style="width: 55px;">
					<a class="cart" href="/cart">
						<i class="fa fa-shopping-cart">
                      </i>
                      <p class="fr" style="font-family: Helvetica, Arial, sans-serif;display: inline-block;width: 25px;">{{ cart.item_count }}</p>
					</a>
				</li>
			</ul>
		</div>
	</div>