<!-- Be sure to assign mcp_title and mcp_content before using this snippet -->
<!-- Be sure to bind the popup to a button (#open-mcp-btn) before using this snippet -->

<!--googleoff: index-->
<div class="filter-underlay"></div>

<div id="mcp" class="container" style="display: none;">
  <div class="inner">
    <h1 class="mcp_title">{{mcp_title}}</h1>
    <div class="mcp_content">
      {{mcp_content}}
    </div>
    <input id="close-mcp-btn" type="submit" class="btn" name="checkout" value="Okay">
    </div>
</div>


<script>
  var mcpSelector ='#mcp';
  var openMcpSelector = '#open-mcp-btn';
  var closeMcpSelector = '#close-mcp-btn';
  
   $(document).ready(function() {
     
     $(openMcpSelector).on("click", function() {
       $('.filter-underlay').css("display", "block");
       $(mcpSelector).css({"opacity": 0});
       $(mcpSelector).show();
       $(mcpSelector).animate({opacity: 1}, 200, "swing");
     });
     
     $(closeMcpSelector).on("click", function() {
       $('.filter-underlay').css("display", "none");
       $(mcpSelector).animate({
         opacity: 0
       }, {
         duration: 200,
         complete: function() {
           $(mcpSelector).hide();
         }
       });
     });   
   });
  
</script>

<!--googleon: index>