.footer-menu { margin-bottom: 20px; }

.footer-wrapper {
  width: 100%;
  margin-top: 4rem;
  background: #{'{{ settings.footer_bg_color }}'};
}

footer {
  width: 996px; 
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;
  color: #{'{{ settings.footer_text_color }}'};

  h1,h2,h3,h4,h5 {
    color: #{'{{ settings.footer_heading_color }}'};
  }

  p { color: #{'{{ settings.footer_text_color }}'}; }

  a {
    color: #{'{{ settings.footer_link_color }}'} !important;
    &:hover {
      color: #{'{{ settings.footer_link_hover_color }}'} !important;
    }
  }

  li{ margin-bottom: 5px; }
  .row { margin-bottom: 0; }
  .btn{
    &.newsletter {
      background: #{'{{ settings.newsletter_btn_color }}'};
      color: #{'{{ settings.newsletter_btn_text_color }}'};
      font-size: 14px;
      font-weight: bold;
      height: 34px;
      line-height: 34px;
      margin-left: 15px;
      &:hover {
        background: #{'{{ settings.newsletter_btn_hover_color }}'};
        color: #{'{{ settings.newsletter_btn_hover_text_color }}'};
      }
    }
  }
}
