.footer-menu { margin-bottom: 20px; }

.footer-wrapper {
  width: 100%;
  margin-top: 4rem;
  background: #{'{{ settings.footer_bg_color }}'};
}

footer {
  padding: 0; padding-bottom: 20px;
  color: #{'{{ settings.footer_text_color }}'};

  h1,h2,h3,h4,h5 {
    color: #{'{{ settings.footer_heading_color }}'};
  }

  h4 {
    font-size: 16px;
  }

  p { color: #{'{{ settings.footer_text_color }}'}; }

  a {
    color: #{'{{ settings.footer_link_color }}'} !important;
    &:hover {
      color: #{'{{ settings.footer_link_hover_color }}'} !important;
    }
  }

  ul{
    li{
      margin-bottom: 5px;
    }
  }
  #mail { width: 168px; }
  .row { margin-bottom: 0; }
  .copyright { margin: 20px 0 10px; }
  .tweet {
    ul {
      li { margin-bottom: 20px;
      }
    }
  }
  .tweet_list { list-style: none; margin: 0; }
  .tweet_avatar { display: none; }
  .tweet_time { display: none; }
  .tweet_text {
    a {
      color: #{'{{ settings.footer_link_color }}'} !important;
      &:hover {
        color: #{'{{ settings.footer_link_hover_color }}'} !important;
      }
    }
  }
  .btn{
    &.newsletter {
      background: #{'{{ settings.newsletter_btn_color }}'};
      color: #{'{{ settings.newsletter_btn_text_color }}'};
      font-size: 14px;
      font-weight: bold;
      height: 34px;
      line-height: 34px;
      margin-left: 15px;
      &:hover {
        background: #{'{{ settings.newsletter_btn_hover_color }}'};
        color: #{'{{ settings.newsletter_btn_hover_text_color }}'};
      }
    }
  }
}
