{% if settings.navigation_alignment == "below" %}
.logo { max-width: 1278px; }
.logo a img, .logo h1 a { display: block; margin: 0 auto; }
.logo h1 { text-align: center; }
{% endif %}
.logo { float: left; padding: 15px 0;}
{% if settings.logo_center %}
.logo { max-width: 1278px; }
.logo { float: none; }
.wide .logo img {margin: 0 auto;}
{% endif %}
.logo h1 { margin:0; border:0; }
.logo h1 a { text-decoration:none; font-size:{{ settings.shop_heading_font_size }}; line-height:{{ settings.shop_heading_font_size }}; color:{{ settings.header_color }}; font-weight:{{ settings.header_weight }}; margin:0; padding:0; border:0; }
.logo h1 a:hover { text-decoration:none; color:{{ settings.header_color }}; }
.logo a, .logo img { display:block; margin:0; }
.wide .logo {float: none; {% if settings.logo_center %} text-align: center; {% endif %} }
.social-mobile-link {width: 33.3%; float: left; margin: 0; padding: 0 !important; text-align: center;}
