@media only screen and (min-width: 797px) and (max-width: 1026px) {
  .wrapper, .toolbar, footer { width:768px; }

  .cart-layout-side-information{
    border-left: 1rem solid #f9f9f9;
  }
  .filter-underlay{
    display: none !important;
  }

  .gift-card-display{
    margin-top: 3rem;
    label{
      font-size: 180px;
    }

    input{
      font-size: 140px;
      width: 27vw !important;
    }

    span{
      position: relative;
      top: -240px;
      left: 50%;
    }
  }

}
