@media only screen and (min-width: $desktop-wide-width) {

  .wrapper, .toolbar, footer { width: 1026px;}
  .products{margin: 0 auto; display: table;}

  #cart .row{background:  #{'{{ settings.shop_bg_color }}'};}

  #cart .cart-list{
    background: white;
    width: 100%;
    max-width: 700px;
    float: left;
    }

  #cart .buttons{
    width: 100%;
    max-width: 260px;
    float: left;
    margin-left: 20px;
    }

  #cart #content{background:  #{'{{ settings.shop_bg_color }}'};}

  .product .image {
    display: block;
    max-height: 225px;
    width: auto;
    height: auto;
    }

    #open-filter-button{
      display: none !important;
    }

    #close-filter-button{
      display: none !important;
    }

    #filter-column{
      display: block !important;
    }

    .filter-underlay{
      display: none !important;
    }
}
