@media only screen and (min-width: 1026px) {

  .wrapper, .toolbar, footer { width: 1026px;}
  .span1  {width: 79px;}
  .span2  {width: 188px;}
  .span3  {width: 30.3%;}
  .span4  {width: 30.3%;}
  .span5  {width: 47%;}
  .span6  {width: 624px;}
  .span7  {width: 733px;}
  .span8  {width: 810px;}
  .span9  {width: 951px;}
  .span10 {width: 1000px;}
  .span11 {width: 1000px;}
  .span12 {width: 970px;}
  .span3.adaptive-grid {width: 303px;}
  .products{margin: 0 auto; display: table;}

  #cart .row{background:  #{'{{ settings.shop_bg_color }}'};}

  #cart .cart-list{
    background: white;
    width: 100%;
    max-width: 700px;
    float: left;
    }

  #cart .buttons{
    width: 100%;
    max-width: 260px;
    float: left;
    margin-left: 20px;
    }

  #cart #content{background:  #{'{{ settings.shop_bg_color }}'};}

  .product .image {
    display: block;
    max-height: 225px;
    width: auto;
    height: auto;
    }

    #open-filter-button{
      display: none !important;
    }

    #close-filter-button{
      display: none !important;
    }

    #filter-column{
      display: block !important;
    }

    .filter-underlay{
      display: none !important;
    }
}
