@media only screen and (max-width: $mobile-width){

  nav.mobile { padding: 0; }
  .logo { max-width: 370px; float:none; padding-bottom:0; margin: 0 auto 30px; }

  //Input Mobile
  input:not([type="radio"]):not([type="checkbox"]){width:98%}
  select:not([type="radio"]):not([type="checkbox"]){width:98%}

  //Desktop style changes
  #desktop-toolbar{display: none;}
  #header{display:none;}
  .desktop-search-overlay{display: none !important;}
  .flex-controls { display: none !important; }

  // Header Mobile
  #mobile-toolbar{display: inherit;}
  .toolbar {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    li {
      padding-left: 0;
      line-height: 50px;
      text-align: center;
    }
    .customer-links, .search-field {
      display: none;
    }
    .fa-shopping-cart {
      width: 25px;
      display: inherit;
      padding: 0;
      font-size: 24px;
      line-height: 47px;
      float: left;
    }
  }
  //Footer Mobile
  footer {
    .btn.newsletter {
      font-size: 12px;
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  //Wrapper mobile
  .wrapper { padding: 0; }
  .wrapper, .toolbar, footer { width:100vw; }

  // .product.span3.adaptive-grid.featured-product {padding: 1rem;margin: 2rem 1rem;}


  //No idea what this is
  section#nav { display:none; }
  nav.mobile, .menu-icon { display: block; }

  //Product and collection pages
  #collection {
    .browse-tags {
      float: none;
      display: block;
      padding-top: 10px;
      padding-left: 0px;
      select {
        width: 100%;
      }
    }
  }

  .collection-heading{
    margin-bottom: 2rem;
  }
  .collection-product:nth-child(odd) {
      clear: left;
  }

  //Blog Mobile
  #blog .sidebar { display: none; }

  // Flyout Mobile
  .fa{font-size: 23px;}

  .add-product-form {
    display: none;
  }

  #login .btn, #register .btn {margin: 5px 0; width: 98%;text-align: center;padding: 0;}

  .wrapper{margin-top: 8rem;}

  .toolbar-wrapper{
    position: fixed;
    z-index: 10;
    top: 0;
    height: 50px;
  }

  .mobile-wrapper{
    display: block;
  }

  #content {padding: 1rem; min-height: 0px !important;}

  // Cart Mobile
  #checkout-link { display:none; }
  #cart{
    margin-top: -3rem;
    .item-description {
      display: none;
    }
  }

  .cart-item-addtional-info{
    border: none;
  }

  .cart__quantity{
    width: calc(100% - 75px)  !important;
  }

  // Search Mobiled
  #open-filter-button{
      float: none;
      width: 90% !important;
      margin: 0 auto;
  }

  #close-filter-button{
      width: auto !important;
  }

  .search_box{
    margin-left: -40px !important;
    padding-left: 35px !important;
  }
  
  .search-results {
    top: 40px !important;
    left: 0px !important;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 10px 26px -8px rgba(0,0,0,0.25);
  	border: none;
    li {
      display: block;
      width: 100%;
      padding: 6px;
    }
  }


  #mcp {top: 5%; bottom: 5%; left: 5%; right: 5%;}

  //Blog
  .row.title{padding-bottom: 1px; text-align: center;}
  #blog .articles, #article .article {max-width: none;}
}
