@media only screen and (max-width: $mobile-slim-width) {
  #cart .image {padding: 0px 1rem 0 0rem;}
  .cart-item {
    padding: 1rem 0rem;
    h3{
      float: none !important;
      text-align: left !important;
    }
  }
}


// Tiny styles for tiny phones.
@media only screen and (max-width: 320px) {
  #mobile-logo-short{display: inline-block;}
  #mobile-logo-long{display: none;}
}
