@media only screen and (min-width: 797px) and (max-width: 1026px) {

  #open-filter-button{
    position: relative;
    top: -7rem;
    padding: 0 6rem;
    margin-right: 1rem;
  }
  .wrapper, .toolbar, footer { width:768px; }
  .span1 { width:34px; }
  .span2 { width:92px; }
  .span3 {width: 29.4%;}
  .span4 {width: 29.4%;}
  .span5 { width:350px; }
  .span6 { width:354px; }
  .span7 { width:418px; }
  .span8 { width:550px; }
  .span9 { width:546px; }
  .span10 { width:610px; }
  .span11 { width:674px; }
  .span12 { width:738px; }

  .span3.adaptive-grid {width: 226px;}

  footer {
    #mail {width: 124px;}
    .btn.newsletter {
      font-size: 12px;
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  nav {
    padding-top: 0;
    &.main ul {
      display: table; margin: 0 auto;
    }
  }

  .logo {
    margin: 0 auto; display: table;
  }

  .product .image {
    display: block;
    max-height: 150px;
    width: auto;
    height: auto;
  }

  #cart {
    background: #f9f9f9;
    .row { background: #ffffff;}
  }

  #product .thumbs .image {height: 73px;}

  #blog {
    .sidebar.row{margin-left: 10px;}
    .articles {max-width: 478px;}
  }
}

@media only screen and (min-width: 797px) {

  nav{
    padding-top: 0;
    display: table;
    margin: 0 auto;
  }

  #cart{ background: #f9f9f9;}

  #collection .browse-tags{
    position: relative;
    top: -4rem;
  }

  .logo{
    margin: 0 auto;
    display: table;
  }

  .search {
    width: 40px;
    transition: all 0.15s;
  }

  .go {
    i {
      font-size: 20px;
    }
  }

  .content-overlay{display: none !important;}

  .span3.adaptive-grid:nth-child(2n-3) {clear: none;}
  .span3.adaptive-grid:nth-child(3n+1) {clear: left;}
}
