@media only screen and (min-width: 797px) and (max-width: 1026px) {
  .wrapper, .toolbar, footer { width:768px; }

  #open-filter-button{
    position: relative;
    top: -7rem;
    padding: 0 6rem;
    margin-right: 1rem;
  }

  .cart-layout-side-information{
    border-left: 1rem solid #f9f9f9;
  }
}

@media only screen and (min-width: $mobile-width) {
  nav{
    padding-top: 0;
    display: table;
    margin: 0 auto;
  }

  .search {
    width: 40px;
    transition: all 0.15s;
  }

  .go {
    i {
      font-size: 20px;
    }
  }

  .content-overlay{display: none !important;}
  .collection-product:nth-child(3n+1) {
      clear: left;
  }
}
