html,body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color:  #{'{{ settings.shop_bg_color }}'};
}

html {
  font-size: 62.5%;
  -webkit-touch-callout:none;
  -webkit-text-size-adjust:none;
  -ms-text-size-adjust:100%;
}

body {
  line-height: #{'{{ settings.body_line_height }}'};
  color: #{'{{ settings.body_font_color }}'};
  font-family: #{'{{ settings.regular_font }}'};
  font-size: #{'{{ settings.body_font_size }}'};
 }

//HTML5 Elements
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section { display:block; }

//Links and Buttons
a {
  color: #{'{{ settings.link_color }}'};
  text-decoration: none;

  &:hover{
    color: #{'{{ settings.link_hover_color }}'};
  }
}

a.btn, input.btn {
  box-shadow:none;
  display:inline-block;
  height:#{'{{ settings.btn_line_height }}'};
  line-height:#{'{{ settings.btn_line_height }}'};
  border:none; margin:0;
  padding:0 20px;
  color:#{'{{ settings.shop_btn_text_color }}'};
  font-weight:#{'{{ settings.btn_font_weight }}'};
  font-size:#{'{{ settings.btn_font_size }}'};
  text-transform:#{'{{ settings.btn_font_style }}'};
  background:#{'#{'{{ settings.shop_btn_color }}'}'};
  width:auto;
  transition: all 0.3s;
}

a.btn:hover, input.btn:hover {
  background-color:#{'{{ settings.shop_btn_text_color }}'} !important;
  color: #{'#{'{{ settings.shop_btn_color }}'}'};
  outline: 1px solid #{'#{'{{ settings.shop_btn_color }}'}'};
}

input.disabled.btn:hover {
  //  background-color: darken(#{'{{ settings.shop_btn_color }}'}, 10%) !important;
   outline: none;
   color:#{'{{ settings.shop_btn_text_color }}'};
 }

.btn:hover {cursor: pointer;}

p.btn:hover {
  // color: lighten(#{'{{ settings.body_font_color }}'}, 10%);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color:#{'{{ settings.header_color }}'};
}

// {% if settings.button_border_radius != "none" %}
a.btn, input.btn, .searchform input.submit, .cart-summary a .icon {
  @include border-radius(#{'{{ settings.button_border_radius }}'});
}
// {% endif %}

img {
  max-width:100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

ul, ol {
  margin: 0 0 20px 20px;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
  -webkit-tap-highlight-color: none;
}

ul {
  list-style:disc outside none;
  margin-bottom: 5px;
  -webkit-tap-highlight-color: none;
}
