.social-links{
  display: block;
  a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    margin: 0.19em;
    padding: 0 6px 6px 0;
    line-height: 24px;
  }
}

[class^="shopify-social-icon-"]:before, [class*=" shopify-social-icon-"]:before {
  color: #{'{{ settings.social_icon_color }}'};
  font-size: 24px;
}

[class^="shopify-social-icon-"]:hover:before, [class*=" shopify-social-icon-"]:hover:before {
  color: #{'{{ settings.social_icon_hover_color }}'};
}

#social {
  .google-plus {@extend %social_button;}
  .tweet-btn {@extend %social_button;}
  .pinterest {@extend %social_button;}
  .facebook-like {@extend %social_button;}
  .share-this {float: left; margin: 0 10px 0 0;}
}

.credit-cards {
  margin:0 auto;
  list-style:none outside none;
  text-align: center;
  li {
    display: inline;
    margin-right: 10px;
  }
}

.search-icon{
  //Search icon circle
  :first-child{
    top: 5px;
    left: 7px;
    width: 16px;
    height: 16px;
    border-radius: 180px;
    background: none;
    border: 1px solid #5d5d5d;
  }
  //Search icon handle
  :nth-child(2){
    top: 6px;
    left:-3px;
    width: 10px;
    transform: rotate(45deg);
  }
  //Forms the X icon
  :nth-child(3){
    top: 6px;
    left: -8px;
    width: 22px;
    opacity: 0;
    transform: rotate(-45deg);
  }
}
