.wrapper {
  background: #{'{{ settings.shop_bg_color_content_area }}'};
  width: 996px;
  margin: 0 auto;
  margin-top: 3rem;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  display: block;
  float: left;
  margin: 0 15px;
}

.span1 { width: 53px; }
.span2 { width: 136px; }
.span3 { width: 219px; }
.span4 { width: 302px; }
.span5 { width: 385px; }
.span6 { width: 468px; }
.span7 { width: 551px; }
.span8 { width: 634px; }
.span9 { width: 717px; }
.span10 { width: 800px; }
.span11 { width: 883px; }
.span12 { width: 966px; }
.span3.adaptive-grid {width: 219px;}
