#mcp {
  position: fixed;
  padding: 3rem;
  background: white;
  left: 10%; right: 10%; top: 10%; bottom: 10%;
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
  z-index: 99;
  overflow-y:scroll;
  overflow-x:hidden;
  }
  .mcp_title h1 {
    padding-bottom: 2rem;
    border-bottom: 5px solid  #{'{{ settings.shop_bg_color }}'};
}

.inner { position: relative; height: auto; }
.full-height { height: 100%; }
