#mcp {
  position: fixed;
  padding: 3rem;
  background: white;
  left: 10%; right: 10%; top: 10%; bottom: 10%;
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
  z-index: 99;
  overflow-y: auto;
  margin: 0 auto;
  max-width: 600px;
  
  .mcp_title {
    padding: 4rem;
    padding-bottom: 1rem;
    padding-left: 0;
  }

  .footer{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: #f1f1f1;
    border-top: 1px solid #dadada;
  }

  .inner {
    position: relative;
    height: auto;
  }
}
.full-height { height: 100%; }
