.search-layout{
  @include grid-container;
}

.search-layout-results{
  @include grid-column(5,$search-layout-grid);

  @include grid-media($search-layout-grid--mobile) {
     @include grid-column(7);
  }
}

.search-layout-filter{
  @include grid-column(2, $search-layout-grid);

  @include grid-media($search-layout-grid--mobile) {
     @include grid-column(7);
     display: none;
     position: fixed;
     z-index: 98;
     width: 95%;
     top: 0;
     bottom: 0;
     position: fixed;
     overflow-y: scroll;
     overflow-x: hidden;
     margin: 5% 0;
     box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
  }

  h2{
    background: #5d5d5d;
    color: white;
    padding: 1rem;
  }
}

.search-field {
  transition: all 0.3s ease-out;
  &.mobile-search{
    position: absolute;
    top: -72px;
    left: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    padding-bottom: 100vh;
  }
}

.search_box.mobile-search{font-size: 20px; height: 60px; padding-left: 40px;}

.search-link img {max-width: 100%; max-height: 100%; display: block;}

#search-container .results.list .thumbnail a { display:block; float:none; }
#search-container .search-border { border-bottom: 1px #{'{{ settings.border_style }}'} #{'{{ settings.border_color }}'}; }
#search-container .search-field { position: relative; height: 60px; line-height: 60px;}
#search-container .product-price { clear: right; padding-top: 5px;}

#search-container {
  h1 {
    padding: 20px 20px 0 20px;
    margin: 0;
  }
  h3 {
    margin: 0;
    line-height: 16px;
  }

  h4 {
    margin: 0;
  }
}

.results.list {width: 700px; height: auto; clear: both; margin-top: 15px;}
.results.list .span2 {width: 188px; height: 131px;}
.results.list .span2 .thumbnail {width: 188px; height: 131px;}
.results.list .span2 .thumbnail a {width: 188px; height: 131px; margin: 0 auto;}

.search-qty{
  height: 33px;
  padding: 0;
  margin: 0;
  padding-left: 1rem;
  width: 50px;
  @include border-radius(0);
  border: 1px solid #555555;
}

.search-add{
  background: #{'{{settings.modern_btn_color}}'};
  color: #{'{{settings.modern_btn_text_color}}'};
  height: 35px;
  padding: 0 1rem;
  text-transform: uppercase;
  border: 0;
  @include border-radius(0);
  width: auto;
  transition: all 0.3s;
}

.search-add:hover{
  background: #{'{{settings.modern_btn_hover_color}}'};
  color: #{'{{settings.modern_btn_text_hover_color}}'};
  outline: 1px solid #{'{{settings.modern_btn_text_hover_color}}'};
}

.search-add-soldout{
  color: #595959;
  background: white;
  border: 1px solid;
}

#maxPriceInput {width: 100%};

#vendor-filter{
  margin-top: 2rem;
}

.filter-options-wrapper{
  padding: 2rem;
}

#open-filter-button{
  display: none;
}

#close-filter-button{
  display: none;
}
