table { width: 100%; border-spacing: 0; }
table tr td { border-top: 1px solid #{'{{ settings.border_color }}'}; }
table tr td, table tr th { padding: 10px; text-align: left; }
table tr td:first-child, table tr th:first-child { padding-left: 0px; }
table tr td:last-child, table tr th:last-child { padding-right: 0px; }

strong { font-weight: 700; }
em { font-style: italic; }

.span8.inner-right{ margin: 0}
