#checkout { float: right; margin-left: 15px; }
#update-cart { float: right; }

.subtext.success { font-weight: 700; color: #40954a; }
div.errors, .subtext.error { font-weight: 700; color: #954040; }
div.errors { margin-bottom: 15px; }
.featured-cart-title { margin-left: 13px; }
.checkout-buttons { clear: both;}
select#collection_tags option {text-transform: capitalize;}

#cart {
  h2 {
    border-bottom: 1px solid  #{'{{ settings.shop_bg_color }}'};
    text-align: left;
    font-size: 20px;
    padding: 1rem;
  }

  a{
    .variant_title {
      display: block;
      color: #{'{{ settings.body_font_color }}'};
    }
    &:hover .variant_title {
      color: #{'{{ settings.link_hover_color }}'};
    }
  }

  p, i {font-size: 16px;}
  ul {list-style: none;}
  .row {border-bottom: 1rem solid #f9f9f9;}
  .image { text-align: center; }
  .image a, .image img { margin: 0; border: none; width: 100%;}
  .item { max-width: 400px; }
  .item-description { font-size: 12px; }
  .buttons {
    background: white;
    .btn{
      clear: both;
      display: table;
      float: none;
      width: 80%;
      margin: 1rem auto;
      max-width: 300px;
      font-size: 18px;
      font-weight: 500;
      padding: 2px;
      height: auto;
      background: white;
    }
  }
}

.extra-checkout-buttons {
  float: right;
  text-align: right;
  padding-top: 15px;
  width: 145px;
  height: 45;
  input {
    border: none;
    box-shadow: none;
    height: 42px;
  }
}

.cart-item {
  transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.cart-item-inner {
  height: 100px;
  padding: 1rem;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  border-bottom: 1px solid #E6E6E6;
  .image{
    float: left;
    padding: 0 2rem 0 1rem;
    width: 130px;
  }
}

.cart-list{margin: 0;}

.cart-item-addtional-info{
  border: none;
  background:  #{'{{ settings.shop_bg_color }}'};
  margin: -1rem;
  display: none;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  li{
    text-align: center;
    font-size: 16px;
    padding: 1rem;
    border-bottom: 2px solid #E6E6E6;
    a, p{
      text-align: center;
      font-size: 16px;
    }
  }
}

.cart-info{
  height: 5rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid  #{'{{ settings.shop_bg_color }}'};
}

.cart-buttons{
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid  #{'{{ settings.shop_bg_color }}'};
}

.buttons{ padding: 1rem; }

.extra-checkout-button{
  display: table !important;
  float: none !important;
  width: 80% !important;
  margin-left: 1rem !important;
  margin: 1rem auto !important;
  max-width: 300px !important;
}

#paypal-express-button{
  background: #{'{{ settings.shop_btn_color }}'};
  border: 0;
  @include border-radius(2px);
  padding: 8px;
  background-color:#{'{{ settings.shop_btn_color }}'};
  img{
    height: 20px;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
  }
}

#note{
  width: 95%;
}

//I'm sorry for the double underline.
.cart__quantity{
    height: 40px !important;
    padding: 0;
    border: 0;
    background: #{'{{ settings.input_bg_color }}'};
    box-shadow: none;
    text-align: center;
}

.cart__quantity_dec{
    width: 25px !important;
    height: 40px !important;
    padding: 0;
    border: 0;
    background: #dddddd;
    box-shadow: none;
    text-align: center;
    width: 25px;
    font-size: 2rem;
    @include border-radius(0);
    position: relative;
    left: 5px;
}


.cart__quantity_inc{
    width: 25px !important;
  	height: 40px !important;
    padding: 0;
    border: 0;
    background: #dddddd;
    box-shadow: none;
    text-align: center;
    width: 25px;
    @include border-radius(0);
    font-size: 2rem;
    position: relative;
    left: -5px;
}

li.dot {
    position: relative;
    width: 5px;
    height: 5px;
    background: #5d5d5d;
    transition: all 0.3s;
    margin-bottom: 3px;
}
