#customer-account p, #customer-order p { line-height: 14px; }
#login input.text, #register input.text { width: 220px;}
#login, #register {display: table; margin: 0 auto;}
#login label, #register label {font-size: 16px;}
#customer-activate .create-password { margin-bottom: 30px; }
#customer-activate .label, #customer-login .label, #customer-reset-password .label, #customer-register .label { display: block; }
#customer-activate .text, #customer-login .text, #customer-reset-password .text, #customer-register .text { display: block; margin-bottom: 15px; }
#customer-login .action_bottom, #customer-register .action_bottom { margin-top: 15px; }
#order_cancelled { margin-bottom: 30px; }
#customer-addresses .add-new-address { display: block; }
.action_bottom span { line-height: 40px; }
