.sitemap h1{
  text-transform: uppercase;
  background: #5d5d5d;
  color: #ffffff;
  padding: 2rem 3rem;
}

.sitemap h2 {
  padding: 1rem;
  padding-right: 2rem;
  background: #5d5d5d;
  color: white;
  text-transform: uppercase;
  border-left: 1rem solid #424242;
}

.sitemap-list{
  list-style: none;
  float: left;
  padding: 1rem;
}
