<div id="404" class="row">
  <div class="span12">
    
    <h2>Page not found (404)</h2>
    <h3>Sorry, we couldn't find the page you was looking for, but we did find this octopus.</h3>
    <a href="https://loulaanddeer.co.uk/products/hand-knitted-octopus">{{ '404.jpg' | asset_url | img_tag }}</a>
  </div>
</div>