<style>
.span3{
    margin: 9px;
}
</style>

<div id="page" class="row" style="margin: 0; padding: 0;">

  <div class="span12">
    <h1 class="p25">{{ page.title }}</h1>
    <div class="collection-description">
      <p>Beautiful personalised engraved* sterling silver jewellery brought to you by <a href="/collections/vendors?q=Chambers%20%26%20Beau">Chambers and Beau</a>. A perfect gift for any occasion and a beautiful keepsake to treasure forever. 
        Choose from three styles: Classic, Mini or Maxi and adorn yours with a selection of semi precious stones and charms to make yours unique and extra special.</p>
      <p>If you can't find what you're after, or you have any queries, please get in touch and we can arrange something for you by e-mailing us at: {{ shop.email }}. Alternatively you can pop in and see us at: {{ shop.address.summary }}, {{ shop.address.zip }}</p>
    </div>
     {% include 'linklist' with 'personalised-necklaces' %}
  </div>
  
</div>